/*Categorias*/
.cont1{
    /*Acomodo las categorias para que esten una al lado de la otra, les doy un tamaño y 
    le agrego un color al texto*/
    display: flex; 
    justify-content: space-around;
    width: auto;
    color: rgb(3, 20, 20);
}

.articulo{
    /*Acomodo las imagenes: 
    les doy un tamaño para que combinen con la caja, un borde, y un margen*/
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
}

.bCompra{
    /*le agrego estilo a los botones:
    Un borde, color, centor el texto, le pongo relleno, y margen */
    border-radius: 10px;
    border-color: white;
    background-color: white;
    text-align: center;
    text-transform: initial;
    padding:1%;
    margin-bottom: 10px;
}

.cate{
    /*Le agrego estilo al div para que tenga un borde*/
    background-color: rgb(241, 244, 244);
    border-radius: 16px;
}

  /*rgb(3, 20, 20);*/