body{
  /*Acomodamos la apriencia de la pagina en general:
  le quitamos el margen y el relleno, le agregamos color al fondo y al texto,
  agregamos margen inferior, alineamos el texto, y le cambiamos la letra*/
  margin: 0;
  padding: 0;
  background: rgb(6, 41, 41);
  margin-bottom:7px;
  text-align: center;
  color:beige;
  font-family: 'Roboto', sans-serif;
}

hr{
  /*Linea horizontal, amrgen y color*/
	margin:60px;
	color:rgb(244, 204, 160);
}

a{
  /*Le quitamos el estilo predeterminado a los links*/
  text-decoration: none;
  color: black;
}